header {
    background-color: rgb(65, 64, 64);
    padding-bottom: 10px;
    padding-top: 10px;
  
}
.name-block{
    display: flex;
    max-width: fit-content;
}
    
 h1 {
    background-color: rgb(112, 211, 211);
    color: rgb(65, 64, 64);
    padding: 27px 114px;
    font-size: 30px;
    font-weight: bolder;
}
nav>ul{
    text-align: right;
    padding: 20px;
    position: absolute;
    top: 45px;
    right: 30px;
    font-size: larger
}
nav>ul>li {
    display: inline-flex;
    flex-direction: row;
    color: rgb(112, 211, 211);
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: solid rgb(112, 211, 211) 3px;
}
.background-image{
    background-image:url("../Images/Portfolio-backdrop.jpg");
    background-size: 100%;
    height: 250px;
    display: flex;
}
.contact-me{
    display: flex;
    max-width: fit-content; 
    border-right: rgb(33, 33, 97) solid 3px;
    position: relative;
    font-size: 50px;
    padding-top: 15px;
    padding-right: 15px;
    height: 120px;
    width: 181px;
    text-align: right;
}
.contact-links>ul{
    text-align: right;
    padding: 20px;
    position: absolute;
    top: 405px;
    right: 86px;
    font-size: large;
}
.contact-links>ul>li{
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: solid rgb(33, 33, 97) 3px;
    
}