header {
    background-color: rgb(65, 64, 64);
    padding-bottom: 10px;
    padding-top: 10px;
  
}
.name-block{
    display: flex;
    max-width: fit-content;
}
    
 h1 {
    background-color: rgb(112, 211, 211);
    color: rgb(65, 64, 64);
    padding: 27px 114px;
    font-size: 30px;
    font-weight: bolder;
}
nav>ul{
    text-align: right;
    padding: 20px;
    position: absolute;
    top: 45px;
    right: 30px;
    font-size: larger
}
nav>ul>li {
    display: inline-flex;
    flex-direction: row;
    color: rgb(112, 211, 211);
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: solid rgb(112, 211, 211) 3px;
}
.background-image{
    background-image:url("../Images/Portfolio-backdrop.jpg");
    background-size: 100%;
    height: 250px;
    display: flex;
}
.contact-me{
    display: flex;
    max-width: fit-content; 
    border-right: rgb(33, 33, 97) solid 3px;
    position: relative;
    left: -40px;
    font-size: 50px;
    padding-right: 15px;
    padding-left: 38px;
    width: 181px;
    text-align: right;
}
.contact-links>ul{
    text-align: right;
    padding: 20px;
    top: 405px;
    right: 86px;
    font-size: large;
}
.contact-links>ul>li{
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom: solid rgb(33, 33, 97) 3px;
    
}
.about-me{
    display: flex;
    padding: 20px;
    position: relative;
    right: -17px;
}
.about-me>h2{
    display: flex;
    max-width: fit-content; 
    font-size: 50px;
    padding-top: 15px;
    padding-right: 15px;
    height: 120px;
    width: 181px;
    text-align: right;
}

.about-me>p{
    border-left: rgb(33, 33, 97) solid 3px;
    padding: 20px;
    position: relative;
    right: -17px;
}
.work{
    display: flex;
    margin-bottom: 145px;
}
.work>h2{
    display: flex;
    max-width: fit-content;
    font-size: 50px;
    padding-top: 15px;
    padding-right: 15px;
    height: 120px;
    width: 181px;
    text-align: right;
    border-right: solid 3px rgb(33, 33, 97);
    position: relative;
    left: 69px;
}
.big-image{
    border: solid 3px rgb(33, 33, 97);;
    height: 200px;
    width: 800px;
    display: flex;
    position: relative;
    left: 120px;
    border-radius: 20px;
}
.picture1{
    height: 94px;
    width: 394px;
    position: relative;
    top: 217px;
    right: 675px;
    display: flex;
    border: 3px rgb(33, 33, 97) solid;
    border-radius: 20px;
}
.picture2{
    height: 94px;
    width: 394px;
    position: relative;
    top: 217px;
    right: 655px;
    display: flex;  
    border: 3px rgb(33, 33, 97) solid;
    border-radius: 20px;
}
.picture3{
    height: 94px;
    width: 394px;
    position: relative;
    top: 327px;
    right: 1440px;
    display: flex;  
    border: 3px rgb(33, 33, 97) solid;
    border-radius: 20px;
}
.picture4{
    height: 94px;
    width: 394px;
    position: relative;
    top: 328px;
    right: 1419px;
    display: flex;  
    border: 3px rgb(33, 33, 97) solid;
    border-radius: 20px;
}
footer{
    display: flex;
    margin-top: 253px;
}